.buttonContainers {
  display: flex;
  justify-content: flex-end;
}

.updateTextButtons {
  display: flex;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
}

.emojiContainer {
  margin-right: 15px;
}

.emojiContainer:hover svg path {
  fill: #246bce;
}
.cancelButtonContainer {
  margin-right: 15px;
}

.cancelButtonContainer:hover path,
.submitButtonContainer:hover path,
.uploadImageContainer:hover path,
.uploadImageContainer:hover circle {
  stroke: #246bce;
}
.controlFormButton {
  display: flex;
}

.buttonContainers svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.updatedTextInput {
  min-height: 100px;
  resize: none;
  width: 100%;
  outline: 0;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.updatedTextInput:focus {
  border-bottom: 5px solid #246bce;
}

.submitInput {
  display: none;
}
