.rootContainer {
  border-top: 1px solid gray;
  padding: 20px;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
}

.identityContainer {
  display: flex;
  align-items: center;
}

.image {
  width: 32px;
}

.name {
  font-size: 18px;
  font-weight: 300;
}

.textContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.latestMessage {
  font-size: 14px;
  font-weight: 300;
}

.haveNotSeenMessage {
  font-weight: 500;
}
