.rootContainer {
  margin-top: 20px;
  margin-bottom: 50px;
}

.formContainer {
  display: flex;
  align-items: center;
}

.messageInputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #6c757d;
  border-radius: 30px;
  padding: 10px 20px;
}

.messageContainer {
  width: 500px;
}

.messageInput {
  border: 0;
  outline: 0;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}

.submitButton {
  margin-left: 20px;
}

.image {
  width: 20px;
  height: auto;
}

.submitLabel {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  background-color: #246bce;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.submitInput {
  display: none;
  height: 0px;
}

.emojiRoot {
  position: relative;
}
.emojiPicker {
  position: absolute;
  bottom: 50%;
}

.emojiButtonContainer {
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.emojiButtonContainer svg path,
.emojiButtonContainer svg ellipse {
  stroke: #6c757d;
}

.emojiButtonContainer rect {
  fill: white;
}

.emojiButtonContainer:hover svg path,
.emojiButtonContainer:hover svg ellipse,
.emojiButtonContainerFocus svg path,
.emojiButtonContainerFocus svg ellipse {
  stroke: #246bce;
}

.fileLabel {
  background-color: white;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.uploadImageContainer {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
}

.uploadImageContainer:hover {
  background-color: #dcdcdc;
}
.imageUploadContainer {
  margin-right: 10px;
}
