.rootContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.linkContainers {
  list-style: none;
  display: flex;
}

.linkContainer {
  padding: 15px 30px;
  margin-left: 10px;
}

.linkContainer a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.linkContainer:has(a:hover) {
  border-bottom: 3px solid #246bce;
}

.linkContainer a:hover {
  color: #246bce;
}

.linkContainer:has(.activeLink) {
  border-bottom: 3px solid black;
}

.userImageContainer {
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end;
}

.userImageContainer:hover {
  border: 2px solid black;
}

.userImage {
  width: 48px;
  height: auto;
}

.userImageDropList {
  position: absolute;
  top: 60px;
}

.visibleDropList {
  display: block;
}

.hiddenDropList {
  display: none;
}
