.scrollWatcher {
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #50c878;
  width: 100%;

  transform-origin: left;
}

.scrollWatcher {
  animation-name: scroll-watcher;
  animation-timing-function: linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  from {
    scale: 0 1;
  }
  to {
    scale: 1 1;
  }
}
