.scrollWatcher {
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #50c878;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
