.rootContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  max-width: 500px;
}

.senderContainer {
  justify-self: flex-end;
  flex-direction: row-reverse;
}

.receiverContainer {
  justify-self: flex-start;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.image {
  width: 32px;
  height: auto;
}

.senderText {
  background-color: #246bce;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.receiverText {
  background-color: #ced4da;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.text {
  max-width: 500px;
  word-wrap: break-word;
}

.buttonsContainer {
  visibility: hidden;
  align-items: center;
  display: flex;
}

.senderContainer .buttonsContainer {
  flex-direction: row;
}

.receiverContainer .buttonsContainer {
  flex-direction: row-reverse;
}
.rootContainer:hover .buttonsContainer {
  visibility: visible;
}

.emojiButtonContainer {
  cursor: pointer;
  display: flex;
  margin: 0x 10px;
}

.emojiButtonContainer svg path,
.emojiButtonContainer svg ellipse {
  stroke: black;
}

.emojiButtonContainer rect {
  fill: white;
}

.dotMenuContainer {
  display: flex;
  cursor: pointer;
}

.emojiContainer {
  position: relative;
}
.emojiText {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 5px;
  display: flex;
}

.emoji {
  font-size: 15px;
}

.emojiPickerRoot {
  position: relative;
}

.senderContainer .emojiPickerContainer {
  position: absolute;
  right: 100%;
}

.senderContainer .emojiText {
  right: 100%;
}

.receiverContainer .emojiText {
  left: 100%;
}
.receiverContainer .emojiPickerContainer {
  position: absolute;
  left: 100%;
}

.emojiLength {
  color: black;
}

.senderMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5px;
}

.senderMessage .messageTime {
  margin-right: -5px;
}

.receiverMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.senderMessage .messageTime {
  margin-left: -5px;
}

.timeText {
  color: #6c757d;
  font-size: 12px;
}
