.rootContainer {
  height: 100%;
  display: flex;
}
.messagesDateList {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}
