.rootContainer {
  background-color: #ced4da;
  max-height: 150px;
  width: max-content;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: center;
  max-width: 400px;
}

.header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.textContainer {
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.titleContainer {
  display: flex;
}

.time {
  font-weight: 300;
  font-size: 12px;
}
