.rootContainer {
  margin-top: 10px;
}

.listContainer {
  list-style-type: none;
}

.text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.spinners {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
