.thisCommentContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.otherComments {
  margin-left: 40px;
  border-left: 1px solid #dee2e6;
}

.commentsList {
  margin-left: 5px;
}
.imageContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.commentContainer {
  width: 100%;
}

.userImage {
  width: 32px;
  height: auto;
}

.commentContentContainer {
  width: max-content;
  max-width: 100%;
}

.textContainer {
  background-color: #dee2e6;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contentContainer {
  width: 100%;
}
.text {
  word-break: break-all;
}
.creatorNameContainer {
  margin-bottom: 5px;
}

.creatorName {
  font-size: 13px;
  font-weight: 500;
}

.time,
.comment,
.like {
  font-size: 12px;
  color: #6c757d;
}

.comment:hover,
.like:hover {
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.commentForm {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-left: 40px;
}

.commentFooter {
  width: calc(100% - 32px);
  overflow: visible;
}

.buttonsContainer {
  display: flex;
  width: max-content;
}

.buttonContainer {
  margin-left: 5px;
  position: relative;
}

.commentButton {
  cursor: pointer;
}

.emojiPickerContainer {
  position: absolute;
  left: 20px;
  z-index: 3;
}

.emojiPicker {
  position: absolute;
  transform: translateY(-50%);
  top: 25px;
  z-index: 3;
  left: 20px;
}

.emojiListContainer {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: flex-end;
}
